<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
<h1>Список всех пользователей</h1>
<div th:each="user : ${users}">
    <a th:href="@{/users/{id} (id=${user.getId()})}" th:text ="${user.getName()}"> user</a>
</div>
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Имя</th>
        <th scope="col">Фамилия</th>
        <th scope="col">Возраст</th>
        <th scope="col">Профессия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car: ${users}">
        <td th:text="${user.id}">Id</td>
        <td th:text="${user.name}">Имя</td>
        <td th:text="${user.lastName}">Фамилия</td>
        <td th:text="${user.age}">Возраст</td>
        <td th:text="${user.profession}">Профессия</td>

    </tr>
    </tbody>
</table>
</body>
</html>